export default `//react-data-fetching
<Fetch
  path="/users/octocat"
  loader={<p>Loading...</p>}
  timeout={5000}
>
  {({ data, error }) => {
    if (error) return <p>Error :O</p>
    
    return (
      <p>
        Welcome back {data.firstName}!
      </p>
    )
  }}
</Fetch>
`;
