export default `// react-apollo
<Query query={GET_USER}>
  {({ data, error, loading }) => {
    if (loading) return <p>Loading...</p>
    if (error) return <p>Error :O</p>
    
    return (
      <p>
        Welcome back {data.user.firstName}!
      </p>
    )
  }}
</Query>



`;
